<div>
  <!-- <h1 id="bla bla bla" >
  {{ show ? title : 'Not Allowed To Show Title' }}
</h1> -->
  <!--
<h1 [id]="product.id" class="title" [class.green]="product.av" [class.red]="!product.av">
  {{ product.name }}
</h1> -->

  <!-- <h1 [id]="product.id" class="title"   [ngClass]="productClasses()">
    {{ product.name }}
  </h1> -->
  <!--
  <h1 [id]="product.id" class="title" [ngClass]="productClasses()" [style.fontSize]="product.av ? '3rem' : '2rem'">
    {{ product.name }}
  </h1> -->

  <!-- <h1
    [id]="product.id"
    class="title"
    [ngClass]="productClasses()"
    [ngStyle]="productStyles()"
  >
    {{ product.name }}
  </h1> -->
  <!-- <input type="text" placeholder="Amount" disabled="{{!product.av}}" > -->
  <!-- <input #amountInput type="number"  placeholder="Amount" [disabled]="!product.av"  (keyup)="updateAmount(amountInput)" [value]="product.amount"/> -->
  <!--
  <input #amountInput type="number"  placeholder="Amount" [disabled]="!product.av" [(ngModel)]="product.amount"/>

  <button (click)="changeAv()" >Update</button>
  <button (click)="print()" >Print</button> -->

  <!-- --------------------------------------------- -->
  <!-------------------- SESSION 2 -------------------->
  <!-- --------------------------------------------- -->

  <!--
  <button
    *ngIf="!signedIn; else userSigned"
    (click)="toggleSignedInState()"
  >
    Signin
  </button> -->

  <!-- <ng-template #userSigned >
    <div [ngSwitch]="user.type" >
      <p *ngSwitchCase="'user'" >This Is Default User View</p>
      <p *ngSwitchCase="'admin'" >This Is Admin View</p>
      <p *ngSwitchCase="'employee'" >This Is Employee View</p>
      <p *ngSwitchDefault >
        Not Allowed User Type
      </p>

    </div>
  </ng-template> -->

  <!-- <div
    *ngFor="let todo of todos; index as i; first as f; last as l; odd as o; even as e"
    [id]="todo.id"
    [style.borderBottom]="l ? 'none' : '1px solid #888'"
    [style.backgroundColor]="o ? '#DDD' : ''"
  >
    <h3>{{ i + 1 }} - {{ todo.title }}</h3>
    <p>UserID: {{ todo.userId }}</p>
    <p>isFirstItem: {{ f }} || isLastElement: {{ l }}</p>
  </div> -->


  <!-- <app-todolist></app-todolist> -->

  <!-- <app-signup></app-signup> -->

  <app-default-nav></app-default-nav>

  <router-outlet></router-outlet>

  <!-- <h1>{{title| uppercase}}</h1>
  <h1>{{title| lowercase}}</h1>
  <h1>{{title| titlecase}}</h1>

  <h1>{{ 12 | number:'3.1-2' }}</h1>
  <h1>{{ 12.3587634785 | number:'2.1-6' }}</h1>
  <h1>{{ 12.3587634785 | number:'3.1-3' }}</h1>
  <h1>{{ 12.3587634785 | number:'3.1-1' }}</h1>
  <h1>{{ 12.3 | number:'3.3-3' }}</h1>

  <h1> {{1.3| percent}} </h1>

  <h1> {{150 | currency:'EUR':'code'}} </h1>

  <h1> {{date | date:'longTime'}} </h1> -->

</div>
